@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif, Segoe UI;
  background-color: #f1f5f9;
}

.hero-background {
  background: rgb(0, 172, 255);
  background: linear-gradient(
    45deg,
    rgba(0, 172, 255, 1) 0%,
    rgba(184, 0, 255, 1) 100%
  );
}
