@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif, Segoe UI;
  background-color: #edf0f3;
}

.hero-solutions-background {
  background-image: url(/solutions.jpg);
}

.hero-main-background {
  background-image: url(/heroBg.jpeg);
}

.hero-contact-background {
  background-image: url(/contact-hero.jpg);
}
